<p class="searchLabel" *ngIf="search_text.trim().length != 0">
  Risultati per: "{{search_text}}" 
  <a class="delete-search-button" [routerLink]="['/items-list','Tutti','']" href="">annulla ricerca</a> 
</p>
<div class="content container-fluid d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap="16px grid" >
  <div class="container d-flex justify-content-center" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of ItemList" >
    <mat-card class="item mat-elevation-z4" routerLink="/single-item" (click)="sendItemData(item)" >
      <mat-card-header>
        <mat-card-title><a class="title" routerLink="/single-item" (click)="sendItemData(item)">{{item.title}}</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image class="img" src="{{item.images[0]}}">
      
      <mat-card-actions class=" d-flex justify-content-end mb-1 mr-1">
        <div class="text-center">
          <button class="buy-button btn btn-outline-success btn d-flex" >
            <mat-icon class="cart-icon mr-1" aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
            {{item.price}}€
          </button>
        </div>
        
        <!-- <mat-card-content>
          
        </mat-card-content> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
       
   