<div class="home-wrapper">
  <app-header-navbar> </app-header-navbar>
  <div  class="main-wrapper" fxLayout= "row" fxLayout.lt-sm="column" fxLayout.lt-md="column" >
    <app-filters-bar></app-filters-bar>
      <!-- <h1 class="text-title" *ngIf="selected_category=='' || selected_category =='Tutti'">Centre, il tuo e-commerce di fiducia</h1>
      <h1 *ngIf="selected_category!='' && selected_category != 'Tutti'">{{selected_category}}</h1> -->
      <div class="scrollable-section">
        <router-outlet></router-outlet>
        <app-shopping-cart></app-shopping-cart>
      </div>
  </div>
  <div class="footer">
  </div>
</div>